@page
@model WebShop.WebUI.Pages.LoginPage.LoginPageModel
@{
    ViewData["Title"] = "LoginPage";
}
<h1>LoginPage</h1>
<form method="post">
    <input type="text" asp-for="login.Username" placeholder="Username" />
    <input type="password" asp-for="login.Password" placeholder="Password" />
    <button type="submit">Submit</button>
</form>


